* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Estilo do Menu */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.brand-title {
    font-size: 1.5rem;
    color: white;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar-links li {
    padding: 0 20px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.navbar-links a:hover {
    color: #ddd;
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

main {
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 100vh;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    .navbar-links li {
        text-align: center;
        padding: 15px 0;
    }

    .navbar-links.active {
        display: flex;
    }

    .toggle-button {
        display: flex;
    }
}